.user-profile-card {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
.profile-background {
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    padding-top: 60%; /* Aspect ratio trick */
    position: relative;
}

.profile-avatar-container {
    position: absolute;
    bottom: -50px; /* Half of the avatar's height to bring it outside the container */
    left: 50%;
    transform: translateX(-50%);
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white; /* Adjust thickness */
    background-color: white;
}

.user-name {
    margin-top: 60px;
    margin-bottom: 2px;
    font-size: 24px;
}  

.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 30px; /* Adjust according to the size of the avatar */
    color: #316ec9;
    font-weight: bold;
}

.follow-btn {
    background-color: #ffcc4d;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    width: 90%;
}

.profile-bio {
    margin: 20px 30px;
    color: #666;
    font-size: 14px;
}
  
  /* Add any additional hover effects, transitions, or responsive design rules */
  