.map-container {
    position: relative;
    padding: 10px;
    border-radius: 20px;
  }

#mapContainer {
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 95% auto;
    height: 100%;
    border-radius: 25px;
    background-color: white;
}
  