* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font: 'PT Sans', serif;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #fbfcfe;
  height: 100%;
}

.interaction-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  margin-top: 60px;
}

.panel {
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

#networkPanel {
  flex: 0.7 1 0; 
  padding: 10px 20px;
}

#geoViewPanel {
  flex: 3 1 0; 
  padding: 20px 20px 20px 10px;
}