.friend-requests {
    max-height: 500px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.friend-requests p {
    margin: 5px;
    font-size: 13px;
    color: #adb5bd;
    font-weight: 600;
}

.friend-requests h4 {
    margin-bottom: 0.5rem;
}
  
.friend-requests ul {
    list-style: none;
    padding: 0;
}
  
.friend-requests li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    padding-left: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.friend-requests li:last-child {
    margin-bottom: 0;
}
.friend-request-item:hover {
    background-color: #f8f9fa;
    border-radius: 10px;
}
  
.friend-requests button {
    color: white;
    cursor: pointer;
    padding: 5px;
    margin-right: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.request-button img {
    height: 16px;
    width: 16px;
}

.request-button span {
    font-size: 11px !important;
    font-weight: 800 !important;
}

.request-button:hover span {
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.request-info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.request-info h4 {
    margin: 0;
    padding-bottom: 3px;
}

.request-info p {
    margin: 0;
    margin-top: 3px;
    font-size: 12px;
    color: #adb5bd;
}

.profile-name {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}

#request-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.friend-requests button:hover img {
    width: 0px; 
}

#decline-friend-request:hover {
    background-color: #ff0000;
}