.profile-page {
    flex-direction: row;
    background: #f8f9fa;
    overflow: hidden;
    transition: opacity 0.8s ease;
    display: flex;
    margin-top: 60px;
    width: 100%
}

.mapboxgl-canvas {
    transition: width 0.1s ease;
}

/* Loading Spinner CSS */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: black; /* Make spinner black and white */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s ease infinite;
  }
  
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading-background {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in;
    z-index: 1000;
}

/* Panel Layout CSS */
.profile-panel {
    flex: 3;
    flex-direction: column;
    width: 100%;
    margin: auto;
    overflow: scroll;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.profile-panel::-webkit-scrollbar {
    display: none;
}

.suggested-panel {
    flex: 1.2;
    border-radius: 15px;
    overflow: auto;
    height: max-content;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1.2;
}

.card {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 20px;
    margin-bottom: 0px;
    overflow: auto;
    height: max-content;
}

.friend-requests h4{
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EEE;
}

.connections h4 {
    margin-top: 0px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.left-col {
    flex: 1;
    margin-right: 20px;
}

.right-col {
    flex: 2;
}

/* Profile Card CSS */
.profile-card {
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.profile-card {
    transition: all 1s ease-in-out;
}

.top {
    margin-top: 20px;
}

.profile-banner {
    margin: 1rem;
}

.banner-picture {
    width: 100%;
    border-radius: 15px;
    display: block;
    height: 250px;
    object-fit: cover;
}

.profile-content {
    display: flex;
    flex-direction: row;
    position: relative;
    background: #FFF;
    padding: 0px 20px 10px; 
    margin-bottom: 30px;
}

.profile-image-section {
    position: absolute;
    width: 138px; /* Increased to account for the border */
    height: 138px; /* Increased to account for the border */
    top: -60px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container {
    position: relative;
    width: 130px; /* Width of the image + border */
    height: 130px; /* Height of the image + border */
    border-radius: 50%;
    border: 4px solid #FFF; /* 4px border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-picture {
    width: 122px; /* Image width - 4px border on each side */
    height: 122px; /* Image height - 4px border on each side */
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    transition: all 0.12s ease-in-out;
}

.avatar-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #FFF; /* Match background color to create overlap effect */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #FFF;
}

.upload-container:hover .profile-picture {
    filter: brightness(50%);
}

.change-picture-text {
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: opacity 0.12s ease-in-out;
    pointer-events: none; /* Ensure the text does not interfere with hovering */
}

.upload-container:hover .change-picture-text {
    opacity: 1;
}

.profile-text {
    padding-left: 165px;
    margin-top: 0;
    flex: 1;
    margin-bottom: 0px;
}

.profile-name {
    margin-top: 0px;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;
}

.profile-email {
    color: #adb5bd;
    font-weight: 600;
    font-size: 12px;
    display: block;
    text-align: left;
    margin-top: 4px;
}

.profile-tabs {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #EEE;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-tabs button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #adb5bd;
    font-weight: 700;
    font-size: 12px;
}

.profile-tabs button.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.profile-details {
    padding: 1.5rem;
    transition: all 1s ease-in-out;
}

.profile-details h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.profile-settings {
    padding: 1.5rem;
    line-height: 1.2;
}

.profile-settings h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}

.profile-about {
    color: #adb5bd;
    font-weight: 600;
    line-height: 20px;
    font-size: 13px;
    text-align: left;
    max-height: 240px;
    overflow: auto;
}

.profile-location {
    margin-top: 0;
}

.profile-settings p {
    color: #adb5bd;
    font-weight: 600;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
}

.connections-panel h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.suggested-panel h4 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

/* Friend Request Buttons */
.add-friend {
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #f5f5f5 !important;
    color: #adb5bd !important;
    font-size: 11px !important;
}

.add-friend:hover {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.sent-request {
    padding-left: 25px !important;
    padding-right: 25px !important;
    background-color: #10d876 !important;
    color: #ffffff !important;
    font-size: 10px !important;
    cursor: default !important;
}

/* remove hover on .sent-request */
.sent-request:hover {
    background-color: inherit !important;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15) !important;
    translate: none !important;    
}

.sent-request:active {
    transform: none !important;
}

/* Shrinking About */
.left-col {
    transition: all 0.2s ease-in-out;
}

.left-col.shrink {
    padding: 0;
    flex: 0;
    margin: 0;
    max-height: 600px;
    overflow: hidden;
}

.profile-details, .profile-settings {
    transition: all 0.2s ease-in-out;
}

.left-col.shrink .profile-details,
.left-col.shrink .profile-settings {
    opacity: 0;
}


/* EDIT MODE ---- */
.edit {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    margin-left: 10px;
}

.about-edit {
    width: 100%;
    font: inherit;
    font-size: 12px;
    font-weight: 600;
    color: #9da2a8;
    height: 200px;
    line-height: 20px;
    padding: 10px;
    border: 2px solid #EEE;
    border-radius: 5px;
    resize: none;
}

.location-edit {
    width: 100%;
    font: inherit;
    font-size: 12px;
    font-weight: 600;
    color: #9da2a8;
    line-height: 20px;
    display: flex;
    flex-direction: row;
}

.location-edit input {
    width: 100%;
    border: none;
    font: inherit;
    font-size: 12px;
    font-weight: 600;
    color: #9da2a8;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;

    border: 2px solid #EEE;
}

#state-input {
    margin-right: 0px;
}

.about-button {
    width: 90%;
    margin-top: 20px;
    color: black;
    justify-content: center;
}

.about-button:hover {
    color: white;
}

/* TAGS --------- */

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
    margin-top: 13px;
}
  
.tags li {
    float: left; 
}
  
.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 0px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    border: 0px;
    cursor: pointer;
}
  
.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}
  
.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}
  
.tag:hover {
    background-color: crimson;
    color: white;
}
  
.tag:hover::after {
    border-left-color: crimson; 
}

.tag-active {
    background-color: #10d876 !important;
    color: white;
}
  
.tag-active::after {
    border-left-color: #10d876; 
}

.tag-active:hover::after {
    border-left-color: #10d876; 
}

/* Delete Button */
.trash-button {
    height: 28px;
    width: 28px;
    padding: 0;
    justify-content: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}

.trash-button:hover {
    background-color: #ff0000 !important;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
}

.post-header h4 {
    margin: 0 !important;
}

#icon-trash {
    height: 18px;
    width: 18px;
} 